<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="MySQL" connectionString="GSrD9MhgmA0bP0T08Fn1ooQaRiVKMI8IJWYoNBJ8NJ5pwsO+fhXOaLm50SCGYe3YHrpwZBtyk414lZ2L+nHR8g==" />
		<add name="Redis" connectionString="192.168.1.111:6379,allowAdmin=true" />
	</connectionStrings>
	<appSettings>
		<add key="SQLType" value="MySQL" />
		<add key="WMSDown" value="http://192.168.1.150:8080/uma-unimax-web/rest/wms/operation/down" />
		<add key="WMSUp" value="http://192.168.1.150:8080/uma-unimax-web/rest/wms/operation/up" />
		<add key="WMSSpin" value="http://192.168.1.150:8080/uma-unimax-web/rest/wms/operation/spin" />
		<add key="VisionIP" value="192.168.1.144"/>
		<add key="VisionPort" value="41160"/>
		<add key="QRCodeIP" value="192.168.1.145"/>
		<add key="QRCodePort" value="5006"/>
		<add key="SimulationIP" value="192.168.1.160"/>
		<add key="SimulationPort" value="41170"/>
		<!--小圆毛坯-->
		<add key="VisionAR" value="0,0,0,0,1,0,0,0,"/>
		<!--中圆毛坯-->
		<add key="VisionBR" value="0,0,1,0,0,0,0,0,"/>
		<!--大圆毛坯-->
		<add key="VisionCR" value="1,0,0,0,0,0,0,0,"/>
		<!--底座毛坯-->
		<add key="VisionDR" value="0,0,0,0,0,0,1,0,"/>
		<!--小圆半成品-->
		<add key="VisionAS" value="0,0,0,0,0,1,0,0,"/>
		<!--中圆半成品-->
		<add key="VisionBS" value="0,0,1,1,0,0,0,0,"/>
		<!--大圆半成品-->
		<add key="VisionCS" value="1,1,0,0,0,0,0,0,"/>
		<!--底座半成品-->
		<add key="VisionDS" value="0,0,0,0,0,0,0,1,"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>