<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<!--<add name="pgData" connectionString="metadata=res://*/pgData.csdl|res://*/pgData.ssdl|res://*/pgData.msl;provider=Npgsql;&#xD;&#xA;   &#xD;&#xA;      provider connection string=&quot;&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;      HOST=172.20.170.200;PORT=5432;PROTOCOL=3;DATABASE=hnc01;&#xD;&#xA;&#xD;&#xA;      USER ID=postgres;PASSWORD=hnc888;SSL=False;SSLMODE=Disable;TIMEOUT=15;SEARCHPATH=;POOLING=True;&#xD;&#xA;&#xD;&#xA;      &#xD;&#xA;&#xD;&#xA;  &#xD;&#xA;      CONNECTIONLIFETIME=15;MINPOOLSIZE=1;MAXPOOLSIZE=20;SYNCNOTIFICATION=False;COMMANDTIMEOUT=20;ENLIST=False;PRELOADREADER=False;&#xD;&#xA;        &#xD;&#xA;      USEEXTENDEDTYPES=False;&#xD;&#xA; &#xD;&#xA;  &#xD;&#xA;      INTEGRATED SECURITY=False;COMPATIBLE=2.0.11.91&quot;" providerName="System.Data.EntityClient" />-->
		<add name="MySQL" connectionString="GSrD9MhgmA0bP0T08Fn1ooQaRiVKMI8IJWYoNBJ8NJ5pwsO+fhXOaLm50SCGYe3YHrpwZBtyk414lZ2L+nHR8g==" />
	</connectionStrings>
	<appSettings>
		<add key="SQLType" value="MySQL"/>
	</appSettings>
</configuration>