<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MySQL" connectionString="GSrD9MhgmA0bP0T08Fn1ooQaRiVKMI8IJWYoNBJ8NJ5pwsO+fhXOaLm50SCGYe3YHrpwZBtyk414lZ2L+nHR8g==" />
    <add name="Redis" connectionString="192.168.1.111:6379,allowAdmin=true" />
  </connectionStrings>
  <appSettings>
    <add key="SQLType" value="MySQL" />
    <add key="WMSDown" value="http://192.168.1.150:8081/uma-unimax-web/rest/wms/operation/down" />
    <add key="WMSUp" value="http://192.168.1.150:8081/uma-unimax-web/rest/wms/operation/up" />
    <add key="WMSSpin" value="http://192.168.1.150:8081/uma-unimax-web/rest/wms/operation/spin" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>